@import url('https://fonts.googleapis.com/css2? family= Inter:wght@400;500 & display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #000000;
}

.page-header {
    display: flex;
    justify-content: center;
    padding: 28px 0;
    background: #000000;
}

.header-logo {
    display: block;
}

.main-banner {
    max-width: 100%;
}

.top-infocard {
    margin-right: 100px;
    margin-left: 100px;
    text-align: center;
}

.top-infocard-text {
    max-width: 766px;
}

.top-infocard-subtitle {
    margin-top: 24px;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 400;
}

.top-infocard-title {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 500;
}

.top-infocard-description {
    margin-bottom: 76px;
    line-height: 14px;
    font-size: 16px;
}


.top-cards {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 20px;
    justify-content: center;
    padding: 74px 0px;
}

.top-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 26px 0 34px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
}

.top-card-image {
    display: block;
    margin-bottom: 26px;

}

.top-card-description {
    max-width: 300px;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
}

.middle-banners {
    overflow: hidden;
    max-width: 100%;
    width: 1920px;
    height: 442px;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 20px;
    justify-content: center;
    background: #E0E0E0;
    ;
}

.middle-banner-mobile {
    display: none;
}


.middle-banner {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.middle-banner-image {
    width: 350px;
    height: 320px;
    /* margin-top: 170px; */
    margin-bottom: 186px;
    display: block;
    position: relative;
    top: 140px;

}

.border-cards {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 138px 33px 176px;
}

.border-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 26px 0px 34px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
}

.border-cards-image {
    display: block;
}

.border-card-description {
    max-width: 367px;
    padding: 30px 33px 0;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
}

.bottom-infocard {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

}

.bottom-infocard>div {
    margin-bottom: 32px;
    width: 550px;
}

.bottom-infocard-image {
    max-width: 100%;
    margin-bottom: 104px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    background: #000000;
}
footer>div{
    display: flex;
    margin-bottom: 16px;
    align-items: center;
    justify-content: center;
}
footer>div>img{
    margin: 0px 10px}
    
  
@media screen and (max-width: 414px) {
    .main-banner-desktop {
        display: none;
    }

    .middle-banner {
        display: none;
    }

    .middle-banner-mobile {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .middle-banners {

        display: flex;
        justify-content: center;
    }

    .middle-banner-mobile-double {
        margin: 24px 7px;
    }
    .bottom-infocard>div{
        width: 80%;
    }

}

@media screen and (min-width: 415px) {
    .main-banner-mobile {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .top-infocard {
        flex-direction: column;
        margin-top: 50px;
        margin-right: 40px;
        margin-left: 40px;
        margin-bottom: 67px;

    }

    .top-infocard-subtitle {
        font-size: 20px;
    }

    .top-infocard-title {
        font-size: 28px;
    }

    .top-infocard-image {
        width: 100%;
        max-width: 266px;
    }

    .top-cards {
        grid-template-columns: 1fr;
        padding: 80px 32px;
    }

    .border-cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (min-width: 769px) {
    .top-cards {
        grid-template-columns: repeat(2, max-content);

    }
}

@media screen and (min-width: 1100px) and (max-width: 1400px) {
    .top-infocard {
        flex-direction: column;
        margin-top: 50px;
        margin-right: 300px;
        margin-left: 300px;
        margin-bottom: 67px;

    }

    .top-infocard-subtitle {
        margin-top: 66px;
        font-size: 32px;
    }

    .top-infocard-title {
        font-size: 48px;
        margin-bottom: 6px;
    }

    .top-infocard-description {
        text-align: start;
        font-size: 11px;
        line-height: 24px;
        margin-bottom: 76px;
    }

    .top-cards {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        gap: 20px;
        justify-content: center;
        padding: 74px 0px;
    }

}